@page "/employeedetail/{id}"

<div class="text-center">
<h1>@Employee.FirstName @Employee.LastName</h1>
<img class="card-img-top" style="width: 200px; height:200px;" src="@Employee.Photopath"  @onmousemove="@Mouse_Move"/>
<h4>@Koordinat</h4>
            <h3>Detail Employee</h3>
            <p>First Name: @Employee.FirstName</p>
            <p>Last Name : @Employee.LastName</p>
            <p>Email : @Employee.Email</p>
            <p>Department : @Employee.DepartmentName</p>
            <p>Gender : @Employee.Gender</p>
            <p>Date Of Birth: @Employee.DateOfBirth</p>
            


<button class="btn btn-primary" @onclick="Button_Click">@ButtonText</button>

<div class="card-footer text-center @CssClass">
            <a href="/employeepage"><button class="btn btn-primary">Back</button></a>
<<<<<<< HEAD
            <a href="/editemployee/{id}"><button class="btn btn-primary">Edit</button></a>
=======
            <a href="#"><button class="btn btn-primary">Edit</button></a>
>>>>>>> 8753c5bc199b62d936efd5f499a48aa8ad3d89d9
            <a href="#"><button class="btn btn-danger">Hapus</button></a>
</div>
</div>
